<ion-content padding>
  <!-- <ion-slides
    [direction]="'vertical'"
    [loop]="true"
    (ionSlideWillChange)="handleSlideWillChange($event)">
    <ion-slide>
      <div
        class="dollar-bill">
        <h1
          class="dollar-sign">
          $
        </h1>
      </div>
    </ion-slide>
  </ion-slides> -->
  <p *ngIf="position">
    {{position?.latitude}}&deg;
  </p>
  <p *ngIf="position">
    {{position?.longitude}}&deg;
  </p>
  <p *ngIf="heading">
    {{heading}}&deg;
  </p>
  <ul *ngIf="clientsInFOV">
    <li *ngFor="let client of clientsInFOV">
      {{client.id}}
    </li>
  </ul>
</ion-content>
